doctype
html
  head
    meta(charset='UTF-8')
    title= title
    meta(name= 'viewport' content= 'width=device-width, user-scalable=no')
    meta(http-equiv='X-UA-Compatible')
    link(rel='stylesheet' href='/main.css')
  body
    .container
      .profile-wrap
        .profile
          if user && user.id
            .user-name= 'Hi, ' + user.nick + "!"
            .user-money= 'Balance: ' + '$' + user.money
            input#my-id(type='hidden' value=user.id)
            a#logout.btn(href='/auth/logout') Logout
            a#register.btn(href='/good') Register goods 
          else
            form#login-form(action='/auth/login' method='post')
              .input-group
                label(for='email') Email
                input#email(type='email' name='email' required autofocus)
              .input-group
                label(for='password') Password
                input#password(type='password' name='password' required)
              a#join.btn(href='/join') Join
              button#login.btn(type='submit') Login
        footer
          |  Made by &nbsp;
          a(href='https://github.com/oht1221' target='_blank') oht1221
          block good
        block content